* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-header {
  background-image: url(../../images/limon.png);
  background-size: contain;
  padding-bottom: 536px;
  padding-top: 34px;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 47px;
  margin-left: auto;
  list-style: none;
  margin-right: 47px;
}

.header-link {
  text-decoration: none;
  color: #FFF;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}

.header-btn {
  color: #24303E;
  font-family: Fraunces 9pt Soft;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.107px;
  text-transform: uppercase;
  width: 140px;
  height: 56px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 28px;
  background: #FFF;
  border: none;
  cursor: pointer;
}

.header-title {
  color: #FFF;
  text-align: center;
  font-family: Fraunces 9pt Soft;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  text-align: center;
}

.header-link-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #458D7E;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
  text-decoration: none;
  margin-left: 200px;
  gap: 57px;
}

.header-box-img {
  background: #90D4C6;
}

.header-box-title {
  color: #A7AAAD;
  text-align: center;
  font-family: Fraunces 9pt Soft;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 160px;
  margin-bottom: 0;
}

.body-title {
  color: #24303E;
  font-family: Fraunces 9pt Soft;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
  margin-left: 165px;
  margin-top: 158px;
}

.body-title1 {
  margin-top: 398px;
  text-align: center;
  color: #24303E;
  font-family: Fraunces 9pt Soft;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}

.body-text {
  color: #808397;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.129px;
  width: 450px;
  margin-left: 165px;
}

.body-btn {
  color: #24303E;
  font-family: Fraunces 9pt Soft;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 165px;
  border: none;
  background-color: transparent;
}

.hero-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-child-box {
  width: 755px;
  height: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-border-box {
  background-image: url("../../images/gilos.png");
  width: 755px;
  height: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-bottom-box {
  background-image: url(../../images/mandarin.png);
  width: 755px;
  height: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  color: #5B636D;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.129px;
}

.hero-link {
  color: #24303E;
  text-align: center;
  font-family: Fraunces 9pt Soft;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.129px;
  text-decoration: none;
  gap: 50px;
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-box-span {
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-span {
  color: #A7AAAD;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 178.571% */
  letter-spacing: -0.1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-span-1 {
  color: #A7AAAD;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 178.571% */
  letter-spacing: -0.1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-span-2 {
  color: #A7AAAD;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 178.571% */
  letter-spacing: -0.1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-img {
  padding-top: 81px;
}

.hero-section {
  padding-bottom: 160px;
}

.hero-item {
  padding-bottom: 9px;
}

footer {
  margin: 0;
  background-color: #90D4C6;
  padding-top: 65px;
  padding-bottom: 72px;
}

.footer-link-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.footer-box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 88px;
}

.footer-link {
  color: #458D7E;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */