* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}